/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, Simsun;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
  outline: none;
}
body,
button,
input,
select,
textarea {
  font-family: 'Microsoft JhengHei', 'Microsoft Yahei', simsun, Tahoma, Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.clearFix {
  zoom: 1;
}
.clearFix:before {
  content: "";
  display: table;
}
.clearFix:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.hide {
  display: none;
}
/* gradient */
@-webkit-keyframes am-bounceIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes am-bounceIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes am-bounceIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes am-fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.j-dialog {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.j-dialog.j-dialog-in .j-dialog-main {
  -webkit-animation-name: am-bounceIn;
  -moz-animation-name: am-bounceIn;
  animation-name: am-bounceIn;
}
.j-dialog-mask {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.j-dialog-main {
  position: absolute;
  z-index: 999999;
  left: 50%;
  top: 50%;
  width: 410px;
  height: 290px;
  margin: -145px 0 0 -205px;
  background: #fcfcfc;
  border: 1px solid #ff8a3c;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  -moz-animation-duration: .4s;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.j-dialog-main .j-dialog-btn-close {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  right: 8px;
  text-indent: -9999em;
}
.j-dialog-main .j-dialog-header {
  margin: 0;
  padding-left: 15px;
  height: 32px;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
  background: #ff8a3c;
}
.j-dialog-main .j-dialog-content {
  padding: 40px 18px 28px;
  text-align: center;
}
.j-dialog-main .j-dialog-content .j-dialog-icon-warning {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: url(/img/video/ico_alert.png) no-repeat;
}
.j-dialog-main .j-dialog-content .desc {
  padding: 18px 20px 0px;
}
.j-dialog-main .j-dialog-btn-wrap {
  clear: both;
  text-align: center;
}
.j-dialog-main .j-dialog-btn-wrap a {
  display: inline-block;
  height: 35px;
  line-height: 34px;
  border: 0;
  padding: 0;
  width: 124px;
  font-size: 16px;
  text-align: center;
}
.j-dialog-main .j-dialog-btn-wrap .j-dialog-btn-confirm {
  color: #fff;
  background: url(/img/video/btn_red.png) no-repeat 0 0;
}
.j-dialog-main .j-dialog-btn-wrap .j-dialog-btn-confirm:hover {
  background-position: 0 -35px;
}
.j-dialog-main .j-dialog-btn-wrap .j-dialog-btn-cancel {
  color: #939393;
  background: url(/img/video/btn_white.png) no-repeat 0 0;
}
.j-dialog-main .j-dialog-btn-wrap .j-dialog-btn-cancel:hover {
  background-position: 0 -35px;
}
.j-dialog-main .j-dialog-btn-wrap .j-dialog-btn-confirm + a {
  margin-left: 20px;
}
.j-dialog-alert {
  top: 40%;
  left: 50%;
  width: 280px;
  height: auto;
  margin: 0 0 0 -140px;
  padding: 20px 10px;
}
.j-dialog-alert .j-dialog-header,
.j-dialog-alert .j-dialog-btn-wrap .j-dialog-btn-cancel {
  display: none;
}
.j-dialog-alert .j-dialog-content {
  margin: 0;
}
.j-dialog-alert .alert-txt {
  font-size: 18px;
  text-align: center;
}
.j-dialog-alert .j-dialog-btn-wrap {
  margin-top: 20px;
}
.open {
  position: relative;
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-animation-name: am-bounceIn;
  -moz-animation-name: am-bounceIn;
  animation-name: am-bounceIn;
  -moz-animation-duration: .4s;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff8a3c;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff8a3c;
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.toast {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-animation-name: am-bounceIn;
  -moz-animation-name: am-bounceIn;
  animation-name: am-bounceIn;
  -moz-animation-duration: .4s;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.toast div.toast-mask {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.toast div.toast-text {
  width: 400px;
  padding: 20px 10px;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index: 999999;
}
.toast div.toast-text {
  width: 300px;
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  word-break: break-word;
}
.toast div.toast-text h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
